html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: rgb(255, 255, 255);
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}

.hamburg-menu {
    border: none;
}

.animated-hamburg {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
 }
    
.animated-hamburg span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-hamburg span {
    background: #e65100;
}

.animated-hamburg span:nth-child(1) {
    top: 0px;
}

.animated-hamburg span:nth-child(2) {
    top: 10px;
}

.animated-hamburg span:nth-child(3) {
    top: 20px;
}

.animated-hamburg.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-hamburg.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-hamburg.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav-item img {
    width: 30px;
}
.contact {
	height:750px;
	padding-top: 100px;
	background-image: url(../images/berry_cake.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: top center;
}

.contact .title {
    color:#ffffff;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
    
}

.contact .form {
	max-width: 600px;
	margin:0 auto;
	padding: 0 30px;
	color:#ffffff;
}

.form input {
	height: 40px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

.form textarea {
	height: 200px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border:0px;
	padding: 12px;
	resize: vertical;
	color: #000000;
	margin:7.5px 0;
}

button[type=submit] {
  background-color:#ABD0CE;
  color: white;
  cursor: pointer;
  width: 100px!important;
  height: 48px;
}

button[type=submit]:hover {
  background-color:#8ABCB8;
}