html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: rgb(255, 255, 255);
    font-weight: 300;
    font-family: 'Roboto:ital@1', sans-serif;
}

/*------------------------header---------------------------*/

header {
    width: 100%;
    background: rgba(244, 165, 96, 0);
    position: fixed;
}

.head-container {
    width: 1056px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 10px; */
}

.logo-dessert {
    margin: 0;
    float: left;
}

.head-menu {
    display: flex;
    justify-content: space-between;
}

/*------------------------nav---------------------------*/

.nav-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-list-item-link {
    color: #FDF0D5;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 16px 30px;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
}

.logo-icon {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon img {
    width: 25px;
    height: 25px;
}

/*------------------------article---------------------------*/
.top-article {
    margin: 0;
}


.berry-cake {
    width: 100%;
}

.article-container {
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
}

.about-us {
    display: flex;
    justify-content: center;
    background: #F4A460;
    height: 450px;
    /* padding-top: 17px; */
    padding-bottom: 15px;
    text-align: center;
}

.about-us-content {
    width: 528px;
}

.mid-word {
    font-size: 40px;
    margin: 0;
}

.about-us-content p {
    font-size: 24px;
    line-height: 2;
}


.dessert-content {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;
    margin-top: 35px;
}

.content {
    width: 510px;
    height: 300px;
    /* background-color: blue; */
}

.content-title h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
}

.dessert-img {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 510px;
}

.dessert-img img {
    border-radius: 8px;
    width: 237px;
    height: 134px;
}

.footer {
    width: 100%;
    background: #ffa042;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-top: 35px;
    text-align: center;
}

/* .scrolling{
    margin-top: 1000px;
} */

/* 蔡仲文 保留 */

/* The sticky class is added to the header with JS when it reaches its scroll position */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
} */

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

/* .sticky + .content {
    padding-top: 102px;
} */