html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: rgba(255, 222, 133, 0.5);
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}

/*------------------------header---------------------------*/

.hamburg-menu {
    border: none;
}

.hamburg-menu:focus {
    outline:0;
}

.animated-hamburg {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
 }
    
.animated-hamburg span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-hamburg span {
    background: #e65100;
}

.animated-hamburg span:nth-child(1) {
    top: 0px;
}

.animated-hamburg span:nth-child(2) {
    top: 10px;
}

.animated-hamburg span:nth-child(3) {
    top: 20px;
}

.animated-hamburg.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-hamburg.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-hamburg.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.logo-dessert {
    width: auto;
    display: flex;
    margin: 0;
}

.logo-img {
    /* width: 15%; */
}

.logo-dessert h1 {
    font-family: "Pacifico";
    font-style: normal;
}

.head-menu {
    display: flex;
    justify-content: space-between;
}

/*------------------------nav---------------------------*/

.nav-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/* ------------- */

.nav-list-item-link {
    color: #FDF0D5;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 16px 30px;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
    /* overflow: hidden; */
    /* transition: all 0.5s; */
}

.link-animation {
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
}

.link-animation span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.link-animation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(224, 197, 197, 0.3);
    transition: all 0.4s;
    transform: scale(0.5, 1);
}

.link-animation:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* -------------- */

.logo-icon {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    padding: 16px 30px;
}

.logo-icon img {
    width: 25px;
    height: 25px;
}
#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
}
/*------------------------article---------------------------*/

.empty {
    padding-top: 90px;
}

.article-container {
    width: 1056px;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
}

.sandwich-cake {
    width: 1056px;
}

.ingredients-box {
    background-color: rgba(236, 238, 127, 0.8);
    position: fixed;
    right: 0;
    top: 64%;
    width: 200px;
    height: 230px;
    border-radius: 10px;
    border: hidden 2px rgba(255, 170, 96);
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
}

.ingredients-list {
    margin-top: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items: space-between;
}
.food_button{
    position: fixed;
    right: 0;
    top: 95%;
    border:0;
    background-color: rgba(255, 170, 96, 0.8);
    color:#fff;border-radius:10px;
}
.ingredients-list-item {
    /* color: #FDF0D5; */
    color: rgb(31, 29, 25);
}

.list-title {
    list-style: none;
}

.pro-box {
    background: white;
    width: 50px;
}

.step-text {
    text-align: center;
}

.step-box {
    height: 136px;
    background: linear-gradient(to bottom, #F4A460 0%, #ffffff 100%);
    margin-top: -180px;
    font-size: 24px;
    display: flex;
    text-align: center;
    /*垂直置中(配合display:flex)*/
    justify-content: center;
    /*水平置中(配合display:flex)*/
    align-items: center;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.step-div {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.step-img {
    border-radius: 8px;
}

.brulee-img {
    width: 444px;
    height: 250px;
    border-radius: 8px;
    padding: 0;
}

.step-info {
    background: linear-gradient(to top left, #F4A460 0%, #ffffff 100%);
    /* width: 510px; */
    height: 250px;
    border-radius: 8px;
    font-size: 24px;
}

.text-bottom-line {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}

.step-title {
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
}

.step-info-content {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
}

footer {
	background-color:  #F4A460;
    padding:20px 0; 
    margin-top: 35px;
}

footer p {	
    line-height: 39px;
    color:  rgb(124, 85, 7);
}
.down_photo{
    width: 30px;
    height: 30px; 
    margin-right: 5%;   
}

@media (max-width: 768px) {

    .brulee-img {
        margin-left: auto;
        margin-right: auto;
    }

    .step-info {
        height: 150px;
    }

    .step-title {
        text-align: center;
    }

    .step-info-content {
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .brulee-img {
        margin-left: auto;
        margin-right: auto;
    }

    .step-info {
        height: 150px;
    }

    .step-title {
        text-align: center;
    }

    .step-info-content {
        text-align: center;
        margin-top: 20px;
        font-size: 17px;
    }
}
