html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: rgba(255, 222, 133, 0.5);
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}

/*------------------------header---------------------------*/
.hamburg-menu {
    border: none;
}

.animated-hamburg {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
 }
    
.animated-hamburg span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-hamburg span {
    background: #e65100;
}

.animated-hamburg span:nth-child(1) {
    top: 0px;
}

.animated-hamburg span:nth-child(2) {
    top: 10px;
}

.animated-hamburg span:nth-child(3) {
    top: 20px;
}

.animated-hamburg.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-hamburg.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-hamburg.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav-item img {
    width: 30px;
}
/*------------------------nav---------------------------*/

/*------------------------article---------------------------*/

.empty {
    padding-top: 90px;
}

.ingredients-box {
    background-color: rgba(255, 170, 96, 0.8);
    width: 200px;
    height: 230px;
    border-radius: 10px;
    border: hidden 2px rgba(255, 170, 96);
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    margin-top: 10px;
}

.ingredients-list {
    margin-top: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items: space-between;
}
.food_button{
    border:0;
    background-color: rgba(255, 170, 96, 0.8);
    color:#fff;border-radius:10px;
}
.food_menu{
    display: flex;
    flex-direction:column;
    position: fixed;
    right: 0;
    top: 64%;
}
.ingredients-list-item {
    /* color: #FDF0D5; */
    color: rgb(31, 29, 25);
}

.list-title {
    list-style: none;
}

.step-box {
    height: 136px;
    background: linear-gradient(to bottom, #F4A460 0%, #ffffff 100%);
    margin-top: 50px;
    font-size: 24px;
    display: flex;
    text-align: center;
    /*垂直置中(配合display:flex)*/
    justify-content: center;
    /*水平置中(配合display:flex)*/
    align-items: center;
    color: rgb(0, 0, 0);
}

.step-div {
    margin-top: 50px;
}

.step-img {
    /*height: 327px;*/
    font-size: 60px;
}

.step-text {
    /*height: 327px;*/
    background: linear-gradient(to top left, #F4A460 0%, #ffffff 100%);
    font-size: 24px;
    text-align: center;
}

.text-bottom-line {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}

/*------------------------body---------------------------*/

footer {
	background-color:  #F4A460;
    padding:20px 0; 
    margin-top: 50px;
}

footer p {	
    line-height: 39px;
    color:  rgb(124, 85, 7);
}
.down_photo{
    width: 30px;
    height: 30px; 
    margin-right: 5%;   
}