html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: #ffe4ca;
    font-weight: 300;
    font-family: 'Roboto:ital@1', sans-serif;
}

/*------------------------header---------------------------*/

header {
    width: 100%;
    background: #e7ab06;
    /* position: fixed; */
}

.head-container {
    width: 1056px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 10px; */
}

.logo-dessert {
    margin: 0;
    float: left;
}

.head-menu {
    display: flex;
    justify-content: space-between;
}

/*------------------------nav---------------------------*/

.nav-list {
    width: 408px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-list-item-link {
    display: block;
    text-decoration: none;
    padding: 16px 30px;
    cursor: pointer;
}

.logo-icon {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon img {
    width: 25px;
    height: 25px;
}

/*------------------------article---------------------------*/

.article-container {
    width: 1056px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.sandwich-cake {
    width: 1056px;
}

.mid-word-box {
    background: white;   
    padding-bottom: 35px;
    margin-top: 35px;
    text-align: center;
}
.mid-word-box2 {
    background: white;   
    padding-bottom: 35px;
    margin-top: 15px;
    text-align: center;
}

.process-content {
    
    display: flex;
  
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 15px;
}
.process-content2 {
    
    display: flex;
  
    align-content: space-between;
    flex-wrap: wrap;
     
    margin-left: 15px;
}

img {
    border-radius: 8px;
        
    
}

.brulee-img {
    width: 444px;
}

.process-one-info {
    background: #ff8000;
    width: 510px;
    border-radius: 8px;
    margin-left: 66px;
    
    
}

.process-title {
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
}

.process-info-content {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
}
.footer {
    width: 100%;
    background: #ffa042;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-top: 35px;
    text-align: center;
}

/* .scrolling{
    margin-top: 1000px;
} */

/* 蔡仲文 保留 */

/* The sticky class is added to the header with JS when it reaches its scroll position */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%
} */

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

/* .sticky + .content {
    padding-top: 102px;
} */