html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: #ffe4ca;
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}

/*------------------------header---------------------------*/

header {
    width: 100%;
    background: #e7ab06;
    /* position: fixed; */
}

.head-container {
    width: 1056px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 10px; */
}

.logo-dessert {
    margin: 0;
    float: left;
}

.head-menu {
    display: flex;
    justify-content: space-between;
}

/*------------------------nav---------------------------*/

.nav-list {
    width: 408px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-list-item-link {
    display: block;
    text-decoration: none;
    padding: 16px 30px;
    cursor: pointer;
}

.logo-icon {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon img {
    width: 25px;
    height: 25px;
}

/*------------------------article---------------------------*/

.article-container {
    width: 1056px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.sandwich-cake {
    width: 1056px;
}

.pro-box {
    background: white;
    width: 50px;
}

.step-text {
    text-align: center;
}

.step-box {
    background: white;
    margin-top: 35px;
}

.step-content {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    font-size: 24px;
}

img {
    border-radius: 8px;
}

.brulee-img {
    width: 444px;
}

.step-info {
    background: #ff8000;
    width: 510px;
    border-radius: 8px;
    margin-left: 66px;
}

.step-title {
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
}

.step-info-content {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
}

.footer {
    width: 100%;
    background: #ffa042;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-top: 35px;
    text-align: center;
}