html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    background: rgba(255, 222, 133, 0.5);
    font-weight: 300;
    font-family: 'Noto Sans TC', sans-serif;
}

/*------------------------header---------------------------*/

header {
    width: 100%;
    background: rgba(244, 165, 96, 0);
    position: fixed;
    transition-duration: 0.5s;
    z-index: 100;
}

.head-container {
    width: 1056px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo-dessert {
    width: auto;
    display: flex;
    margin: 0;
}

.logo-img {
    width: 15%;
}

.head-menu {
    display: flex;
    justify-content: space-between;
}

/*------------------------nav---------------------------*/

.nav-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/* ------------- */

.nav-list-item-link {
    color: #FDF0D5;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 16px 30px;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
    /* overflow: hidden; */
    /* transition: all 0.5s; */
}

.link-animation {
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;
}

.link-animation span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.link-animation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(224, 197, 197, 0.3);
    transition: all 0.4s;
    transform: scale(0.5, 1);
}

.link-animation:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* -------------- */

.logo-icon {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    padding: 16px 30px;
}

.logo-icon img {
    width: 25px;
    height: 25px;
}

/*------------------------article---------------------------*/

.article-container {
    width: 1056px;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
}

.sandwich-cake {
    width: 1056px;
}

.ingredients-box {
    background-color: rgba(255, 170, 96, 0.8);
    width: 200px;
    height: 230px;
    border-radius: 10px;
    border: hidden 2px rgba(255, 170, 96);
    display: flex;
    flex-wrap: wrap;
    transform: translate(428%, -102%);
}

.ingredients-list {
    margin-top: 40px;
    margin-left: 20px;
    justify-content: center;
    align-items: space-between;
}

.ingredients-list-item {
    /* color: #FDF0D5; */
    color: rgb(31, 29, 25);
}

.list-title {
    list-style: none;
}

.pro-box {
    background: white;
    width: 50px;
}

.step-text {
    text-align: center;
}

.step-box {
    height: 136px;
    background: linear-gradient(to bottom, #F4A460 0%, #ffffff 100%);
    margin-top: -180px;
    font-size: 24px;
    display: flex;
    text-align: center;/*垂直置中(配合display:flex)*/
    justify-content:center;/*水平置中(配合display:flex)*/
    align-items: center;
    color: rgb(0, 0, 0);
}

.step-content {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    font-size: 24px;
}

img {
    border-radius: 8px;
}

.brulee-img {
    width: 444px;
}

.step-info {
    background: linear-gradient(to top left, #F4A460 0%, #ffffff 100%);
    width: 510px;
    border-radius: 8px;
    margin-left: 66px;
}

.text-bottom-line{
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}

.step-title {
    margin: 0;
    padding-left: 15px;
    padding-top: 20px;
}

.step-info-content {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
}

.footer {
    width: 100%;
    background: #ffa042;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-top: 35px;
    text-align: center;
}